body{
	margin: 0;
	padding: 0;
	border: 0;
	width:100%;
	text-shadow:none;
}

a{
	text-decoration: none;
}

textarea{
	width: 98%;
}

.pl5{
    padding-left: 5px;
}
.pl0{
    padding-left:0;
}
/* Custom the jquery mobile css */
.ui-content{
    padding:0;
    text-shadow:none;
	margin-bottom: 45px;
}
.ui-page {
    backface-visibility: hidden;
     -webkit-backface-visibility: hidden; /* Chrome and Safari */
     -moz-backface-visibility: hidden; /* Firefox */
}

.ui-grid-solo p,h1,h3 {

    padding-left: 20px;
    padding-right: 20px;
}
.ui-grid-solo p{

    margin-bottom: 2em;
}
.ui-grid-solo h1{
    color: #333;
    font-size: 26px;
}

.f12{
	font-size:12px;
}

/* --------------------------------------------------------------------------------------- */

.img-pd-tx{
	width:100%;
}

.img-pd-hx{
	width:50%;
	float:left;
}

/* --------------------------------------------------------------------------------------- */
.header{height:0;}

.square-spacer {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background-color: #383D4E;
}
.square-container{
	position:relative;
}

.square-content{
	color:#ccc;
	padding:10%;
	position: absolute;
	top: 0;
	left: 0;

}

.stuff-name{
	font-size:20px;
	margin-top: 2%;
}

.stuff-artist{
	font-size:16px;
	margin:60% 0 0 0;
}

.stuff-location{
	font-size:11px;
}



/* --------------------------------------------------------------------------------------- */
.stuff-title{
	margin: 20px 20px;
	color: #333;
	font-size:23px;
}

.stuff-desc{
	margin: 20px 20px;
}

.stuff-desc p{
	line-height: 30px;
}

.stuff-menu{
	margin: 0;
	padding: 0;
}

.stuff-menu li{
	list-style: none;
	padding: 0;
	margin: 0;
	border: 0;
	float:left;
	width:50%;
	height:50px;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	padding-top: 24px;
	background-color: #fff;
}

.stuff-menu li.buy{
	background-color: #333;
	color:#fff;
}

.stuff-material{}

.stuff-material li{
	line-height: 25px;
}

.stuff-step{}

.stuff-step img{
	width:100%;
}

.stuff-step h2{
	font-size:23px;
	color:#333;
	padding-left: 10px;
	margin: 5px 0;
}

.stuff-step p{
	line-height: 30px;
	padding : 0 10px;
	margin: 0 0 40px 0;
}

.stuff-artisan{
	width:100%;
	height: 65px;
	text-align: center;
	padding-top: 15px;
	background-color: #94969b;
}

.stuff-artisan a{
	color:#fff;
}

.stuff-artisan .stuff-artisan-name{
	font-size: 22px;
	color:#fff;
}

.stuff-artisan .stuff-artisan-more{
	font-size: 12px;
	color:#fff;
}

.stuff-share{
	width:100%;
	height:65px;
	text-align: center;
	padding-top:20px;
	font-size: 26px;
	background-color: #333;
	color:#fff;
}

.stuff-more{
	width:100%;
	text-align: center;
	margin: 0;
	padding:0;
	border: 0;
}

.stuff-more img{
	margin: 0;
	padding:0;
	border: 0;
	width:33.3%;
	text-align: center;
	float:left;
}

.stuff-more-hx img{
	margin: 0;
	padding:0;
	border: 0;
	width: 50%;
	text-align: center;
	float:left;
}

.artisan-name{
	margin-left: 10px;
	font-size: 26px;
	color:#333;
}

.artisan-avator, .artisan-avator img{
	margin: 0;
	padding: 0;
	width:100%;
}

.artisan-desc{
	width: 100%;
	line-height: 32px;
}

.artisan-desc p{
	padding:10px;
}

/* stepper */

.total-price{
	font-size: 12px;
	margin-top: 15px;
}
.stepper {
	float: left;
	width: 150px;
}
.stepper span, .stepper input {
	float: left;
	width: 29px;
	height: 29px;
	line-height: 38px;
	border: 1px solid #ddd;
	background-color: #eee;
	text-align: center;
	position: relative;
}
.stepper .qty {
	-webkit-appearance: none;
	border-radius: 0;
	width: 70px;
	height: 21px;
	line-height: normal;
	border: 1px solid #ddd;
	background: #fff;
	border-left: 0;
	border-right: 0;
	font-size: 16px;
	background: #fff;
	text-align: center;
}

.stepper .minus:after {
	content: "";
	width: 16px;
	height: 4px;
	position: absolute;
	background: #39312f;
	border-radius: 2px;
	left: 50%;
	top: 50%;
	margin-top: -2px;
	margin-left: -8px;
}
.stepper .minus_disabled:after {
	background: #938f8e;
}
.stepper .plus:before {
	content: "";
	width: 16px;
	height: 4px;
	position: absolute;
	background: #39312f;
	border-radius: 2px;
	left: 50%;
	top: 50%;
	width: 4px;
	height: 16px;
	top: 50%;
	margin-top: -8px;
	margin-left: -2px;
}
.stepper .plus:after {
	content: "";
	width: 16px;
	height: 4px;
	position: absolute;
	background: #39312f;
	border-radius: 2px;
	left: 50%;
	top: 50%;
	margin-top: -2px;
	margin-left: -8px;
}

/* lesson page */
#lessonResult #phone{
	width: 94%;
}


/* --------------------------------------------------------------------------------------- */
.footer-xline{
	width:100%;
	height:45px;
	display: block;
}

.footer{
	position: fixed;
	bottom:0;
	width: 100%;
}

.footer > .footer-menu{
	margin: 0;
	padding: 0;
	border: 0;
}

.footer > .footer-menu li{
	float:left;
	width:33.3%;
	height:45px;
	list-style-type: none;
	text-align: center;
	background-color: #333;
}
.footer > .footer-menu .full-button{
	float:left;
	width:100%;
	height:45px;
	list-style-type: none;
	text-align: center;
	background-color: #333;
}
.footer > .footer-menu .half-button{
	float:left;
	width:50%;
	height:45px;
	list-style-type: none;
	text-align: center;
	background-color: #333;
}

.footer > .footer-menu li > a{
	display:inline-block;
	color:#fff;
	margin-top: 12px;
}

.footer > .footer-menu img{
	width:20px;
}